<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ catgeory.name }} Posts</title>
    </head>
    <body>
        <h1>{{ category.name }} </h1>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url 'post' post.id %}">{{ post.title }}</a>
                <p>by {{ post.author }} </p>
                <p>{{post.publish }} </p>
                <p> {{ post.content }}</p>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>